

 <!--  <div class="center hero-unit"> -->
    <h1>Welcome to the Arachne Writer</h1><h2>
      A project by rolandsharp.com
    </h2>


    
<div class="sigma-parent" id="sigma-expand">

    <div class="sigma-expand" id="sigma-example"></div>
  </div>
    
<div class="sign-up"><%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %></div>




<% xx=["#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd","fsdfsfds","#fjksjfd"] %>

  <%= javascript_tag do %>

  window.hashArray = <%=raw xx.as_json %>;

<% end %>


<style type="text/css">
  .sign-up {
    text-align:center;
  }



</style>