<%= javascript_include_tag 'sigma/title_sigma.js' %> 

<style type="text/css">
body {
  background-color: black;
  /*padding-top: -100px;*/
  /*height: 100%;*/
}
  .sigma-parent {
    position: relative;
    top: -50px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: black;
    height: 70%;
  }

  #sign-up-button{
    position: fixed;
    bottom: 30px;
    color: black;

  }
</style>

<h1 style="color:white;">Welcome to Arachne Writer</h1><h2 style="color:#e6e6e6;">
  A <a href="http://rubyonrails.org/" target="_blank" class="navbar-link">Ruby on Rails</a> and <a href="http://sigmajs.org/" target="_blank" class="navbar-link">sigma.js</a> project by <a href="http://rolandsharp.com/" target="_blank">rolandsharp.com</a>
</h2>

<div class="sigma-parent" id="sigma-expand">
    <div class="sigma-expand" id="sigma-example"></div>
</div>
    
<div class="sign-up-btn"><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary", id: "sign-up-button" %></div>







