/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */
  
/*  #textDiv{
    height: 100%;
  }*/

  /* sigma.js context : */
  .sigma-parent {
    position: relative;
    bottom: 60px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #222;
    height: 70%;
    
    
  }
  .sigma-expand {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    /*margin-bottom: 30px;*/
  }


 td:hover{
  background-color: gray;
 }

 #right-top-buttons{
  float: right;
  margin-right: 20px;
 }

 .sideScrollBar{
 /* display: none;*/
  position: relative;

  margin-top:-64px;
  

  /*bottom:0;*/
  top:-7px;
  height:100%;
  
  overflow:scroll; 
  overflow-x: hidden; 
  border:1px solid gray; 
  border-radius:4px;

 }

.sideSearch{
position: relative;
top: -40px;
 }

 #toolBar{
  position: relative;
  top: -50px;
 }



#greenLogIn {
  position: relative;
  bottom: 7px;
}

.btn-group {
  position: absolute;
  top: 7px;
  right: 15px;
}

.alert-div {
position: relative;
height: 48px;
width: 400px;
  right: 200px;
}

#thought_content{
  position: relative;
  height: 100%;
}

#newForm{
  height: 100%;
 
}

.hashSubTitle {
  color:gray;
}