/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */
  


html{
  /*overflow:hidden;*/
  height: 100%;
}

body {
  padding-top: 100px;
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
h1 {
  position: relative;
  top: -50px;
  text-align: center;

}
h2 {
  position: relative;
  top: -50px;
  text-align: center;
}

/* header */
#logo {
  float: left;
  margin-left: 23px;
  font-size: 1.7em;
  color: #5cb85c;
  letter-spacing: -1px;
  padding-top: 12px;
  /*font-family: Georgia, Times, "Times New Roman", serif;*/
  font-weight: bold;
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  /*margin-bottom: 15px;*/
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.field_with_errors {
  @extend .control-group;
  @extend .error;
}
/*alert */
#deleted {
    position: absolute;
    font-size: 120%;
    right: 300px;
    top: -45px;
    color: white;
    text-align: center;
    line-height: 6.5;
}
#saved{
    position: absolute;
    font-size: 120%;
    right: 300px;
    top: -45px;
    color: white;
    text-align: center;
    line-height: 6.5;
}

#logged-in-text{
  color: #5cb85c;
}

.black-btn{
  color: black;
}
  /* sigma.js context : */
  .sigma-parent {
    position: relative;
    top:-50px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #222;
    height: 100%;
  }
  .sigma-expand {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background-color: black;*/
  }

.sign-up-div {
    position: fixed;
    left: 50%;
    bottom: 30px;
  }

  #sign-up-button{
    position: relative;
    left: -70px;
    color: black;
  }

 td:hover{
  background-color: gray;
 }

 #right-top-buttons{
  float: right;
  margin-right: 20px;

 }

 .sideScrollBar{
 /* display: none;*/
  position: relative;
  top:-38px;
  height:100%;
  overflow:scroll; 
  overflow-x: hidden; 
  border:1px solid gray; 
  border-radius:4px;
 }

.sideSearch{
position: relative;
top: 0px;
/*background-color: white;*/
 }

 #sidebar{
  /*background-color: white;*/
 }

 #submit_id{
  position: relative;
  top: -40px;
  left: 0px;
 }

 .sideScrollBar{
  background-color: white;
  position: relative;
  height: 100%;
 }

 #toolBar{
  position: relative;
  top: -50px;
 }

.btn-group {
  z-index: 111;
  position: absolute;
  top: -40px;
  right: 15px;
}

.toggleHeight{
  border:7px solid black; 
  height: 200px;
}

#thought_title{
  border-bottom: 1px solid gray;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

#thought_content{
  position: relative;
  height: 100%;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-top: 1px solid gray;
}

#newForm{
  position: relative;
  top: -40px;
  height: 100%;
}

.hashSubTitle {
}

.tagListClass{
  color: black;
  display: inline; 
  background-color: #5cb85c;
  position: relative;
  padding-left: 4px;
  border-radius: 2px;
  margin-right: 4px;
  margin-bottom: 2px;

 
  /*left: 40px;*/
}

#query{
  position: relative;
  
}

.label-info{
  background-color: #5cb85c;
}

#thought_tags{
  position: relative;
  padding-right: 400px;
}

.list-group {
  position: relative;
  height: auto;
}

.list-group-item{
background-color: lightgray;
border-color: darkgray;
position: relative;
height: 100%;
}

#downChev{
  z-index: 111;
  position: absolute;
  right: 0px;
  border-radius: 5px;
}

.toggledContent{
  margin: 20px;
}

#thought_title{
  font-weight: bold;
  font-size: large;
}
#bucket{
  height: 100%;
  padding-bottom: 44px;
  padding-top: 41px;
}