/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */
  
/*  #textDiv{
    height: 100%;
  }*/

  /* sigma.js context : */
  .sigma-parent {
    position: relative;
    top:-50px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #222;
    height: 100%;
   
    
    
  }
  .sigma-expand {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background-color: black;*/
    
    /*margin-bottom: 30px;*/
  }

.sign-up-btn {
    position: relative;
    text-align:center;
    margin-right: 130px;
  }

 td:hover{
  background-color: gray;
 }

 #right-top-buttons{
 
  float: right;
  margin-right: 20px;

 }

 .sideScrollBar{
 /* display: none;*/
  position: relative;

  
  

  /*bottom:0;*/
  top:-65px;
  height:100%;
  
  overflow:scroll; 
  overflow-x: hidden; 
  border:1px solid gray; 
  border-radius:4px;

 }

.sideSearch{
position: relative;
top: 0px;
 }

 #toolBar{
  position: relative;
  /*height: 60px;*/
  top: -50px;
 }


#greenLogIn {
  position: relative;
  bottom: 0px;
}

.btn-group {
  z-index: 111;
  position: absolute;
  top: 7px;
  right: 15px;
}



.toggleHeight{
  border:7px solid black; 

  height: 200px;
}


#thought_content{
  position: relative;
  height: 100%;
}


#newForm{
  position: relative;

  top: -100px;
  height: 100%;
  /*padding-bottom: -10px;*/
 
}

#newForm.hide{
 
  height: 100%;
  /*padding-bottom: -10px;*/
 
}
.hashSubTitle {
  color:gray;
}

.titleClass{
  width: 30%;
  position: relative;
  top: -12px;
}

.titleClassM{
  width: 100%;
  position: relative;
  top: -12px;
}



#query{
  position: relative;
  left: -14px;
}