

html{

  /*overflow:hidden;*/
  height: 100%;
 

}

body {
  padding-top: 100px;
  height: 100%;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  
  /*top: -70px;*/
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */


h1 {
  position: relative;
  top: -50px;
  text-align: center;

}

h2 {
  position: relative;
  top: -50px;
  text-align: center;

}


/* header */

#logo {
  float: left;
  margin-left: 23px;
  font-size: 1.7em;
  color: gray;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
 
}



input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  /*margin-bottom: 15px;*/
 
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

