<div id="newForm" style="padding-bottom: 11px;">
	<%= link_to "Markdown", edit_user_thought_path(@user, @thought), class: "btn btn-primary black-btn", remote: true, method: :get %>
	<%= link_to "Preview", user_thought_path(@user, @thought), class: "btn btn-primary black-btn active", remote: true, method: :get %>
	
	<div class="markdown_preview">
		<%= @thought.title  %>
		<br />
		<%= mark_it_down(@thought.content)  %>
	</div>
</div>










