index thoughts

<ul id="reviews">
  <% @thoughts.each do |thought| %>
    <li>
      
      <span class="user"> <%= thought.content %></span>
      <%= link_to "Show", user_thought_path(@user, thought) %>
      <%= link_to "Delete", user_thought_path(@user, thought), method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to "Edit", edit_user_thought_path(@user, thought) %>
      
    </li>
  <% end %>
</ul>